body {
  margin: 0px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  background: none;
}
nav {
  background-color: #ffffffb2;
}
h1,
h2,
h3 {
  margin: 0px;
}
img {
  width: auto;
  object-fit: cover;
}
footer {
    height: 423px;
    width: 100%;
}
a {
  text-decoration: none;
}

/* =============================================================================Common tags============================================================================== */
.mainConatiner {
  background-image: url("../Images/BgImg.png");

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 977px; */
}
.mainNavBar {
  display: flex;
  width: 87%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0px;
}

.leftNav {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
}
.leftNav p {
  color: #170f49;
  font-weight: 700;
  font-size: 28px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}
.rigthNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.navItems li {
  color: #170f49;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.navItems li:hover {
  transform: scale(1.05);
}

button.getStart {
  font-size: 16px;
  background: #465ff1;
  color: #fff;
  padding: 18px 24px;
  border-radius: 10px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}
button.getStart:hover {
  transform: scale(0.95);
  background: #344ac7;
}
section.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topHd {
  text-align: center;
  color: #ffffff;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.paraTop {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.paraTop p {
  text-align: center;
  width: 535px;
  font-size: 18px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.takeChance {
  padding-top: 8rem;
}
ul.cardList {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 5%;
  padding: 0 1rem;
}

.cardBox {
  background: #dde1f3;
  padding: 1rem;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 100%;
}

.location {
  align-items: center;
  display: flex;
  gap: 10px;
}

.Info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10%;
}
.location p {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.ItemInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.ItemInfo p {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.CardBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button.CardBtn {
  background: #465ff1;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.CardBtn:hover {
  transform: scale(1.05);
  background: #344ac7;
}
.imgCard {
  width: 100%;
}
.imgCard img {
  width: 100%;
}
.GetHelpform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7rem 0rem;
  padding: 3rem 1rem;
  gap: 50px;
  background: #f8f9fd;
}

.getHelpHd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.commonHd {
  color: #465ff1;
  font-weight: 800;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.InputFormMAin input {
  border: none;
  background-color: #dde1f3;
  padding: 1.2rem 1rem 1.2rem 3rem;
  border-radius: 8px;
  width: 405px;
}
#envolapIcon {
  background: url("../Images/Vector\ \(25\).png") no-repeat;
  background-position: 10px center; /* Adjust as needed */
  padding-left: 30px; /* Adjust to make space for the icon */
  height: 30px; /* Adjust the height as needed */
  width: 200px; /* Set the desired width */
}
.InputFormMAin input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
form.formMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.InputFormMAin {
  position: relative;
}

.envelopeIcon {
  position: absolute;
  top: 34%;
  left: 4%;
  bottom: 0;
}
.SubmiitBtn {
  font-size: 16px;
  background: #465ff1;
  color: #fff;

  border-radius: 10px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  padding: 16px 26px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.SubmiitBtn:hover {
  transform: scale(1.05);
  background: #344ac7;
}
.leafImg {
  background-image: url("../Images/box.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 112px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.leafImg h1 {
  font-size: 40px;
}
ul.Counting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}

li.itemsHowItworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.countBoxText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
}

p.topCount {
  color: #465ff1;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
p.paraHowItworks {
  font-size: 13px;
  font-weight: 300;
  color: #423d3d;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  width: 80%;
}
li.arrowDown {
  position: absolute;
  top: 11%;
  right: 55%;
  width: 22%;
  /* height: 100%; */
}

li.arrowUp {
  position: absolute;
  right: 24%;
  width: 21%;
  top: 36%;
}

.arrowDown img {
  width: 100%;
}
.arrowUp img {
  width: 100%;
}
li.sidearrowTop {
  display: none;
}

li.sidearrowbelow {
  display: none;
}
.footerBox {
  background-image: url("../Images/FooterImg.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 35px;
}
p.footerText {
  color: #ffffff;
  line-height: 23px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.footerDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.footerInput input {
  background: #ffffff;
  border: none;
  padding: 1rem;
  border-radius: 7px 0px 0px 7px;
}
.footerInput input::placeholder {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-family: 400;
  color: #0a142f;
}
.FooterForm {
  display: flex;
  align-items: stretch;
  border: 1px solid #00007c33;
}

.footerArrow {
  background: #dde1f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
}
.footerArrow img {
  transition: transform 0.3s ease;
}
.footerArrow img:hover {
  transform: scale(1.05);
}

.footewrBottomPart {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0rem;
  margin: 0rem 9%;
  border-top: 1px solid #ffffff42;
}

ul.sociallink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  flex-wrap: wrap;
}
ul.sociallink li {
  transition: transform 0.3s ease;
}
ul.sociallink li:hover {
  transform: scale(1.10);
  text-decoration: underline;
}
ul.footerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  font-family: "Inter", sans-serif;
  flex-wrap: wrap;
}
ul.footerItem li {
  transition: transform 0.3s ease;
}
ul.footerItem li:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
.FooterLogo {
  font-size: 24px;
  color: #465ff1;
  background: #ffffff;
  padding: 8px 18px;
}
.phoneLogo {
  display: none;
}
/* ========================================================================================Media--1358================================================================================================================================================= */

@media only screen and (max-width: 1358px) {
  .topHd {
    font-size: 40px;
  }
  .takeChance {
    padding-top: 5rem;
  }
  .mainNavBar {
    padding: 1rem 0px;
  }
}
/* ========================================================================================Media--1024================================================================================================================================================= */

@media only screen and (max-width: 1166px) {
  li.arrowUp {
    right: 25%;
    width: 19%;
    top: 36%;
  }
  li.arrowDown {
    top: 11%;
    right: 56%;
    width: 19%;
    /* height: 100%; */
  }
}
@media only screen and (max-width: 1024px) {
  .navItems {
    gap: 22px;
  }
  .topHd {
    font-size: 40px;
  }
  .paraTop p {
    font-size: 15px;
  }
  .takeChance {
    padding-top: 4rem;
  }
}
/* ========================================================================================Media--768================================================================================================================================================= */

@media only screen and (max-width: 906px) {
  /* .mainConatiner {

    height: 835px;
  } */
  li.arrowUp {
    right: 26%;
    width: 17%;
    top: 30%;
  }
  li.arrowDown {
    top: 11%;
    right: 57%;
    width: 17%;
    /* height: 100%; */
  }
  .leafImg {
    width: 96px;
    height: 96px;
  }
  ul.Counting {
    padding: 2rem 1rem;
  }
}

/* ========================================================================================Media--768================================================================================================================================================= */

@media only screen and (max-width: 768px) {
  .takeChance {
    padding-top: 2rem;
  }
  .navItems {
    display: none;
  }
  .mainNavBar {
    padding: 1rem 0;
  }
  button.getStart {
    padding: 13px 21px;
  }
  .paraTop p {
    font-size: 12px;
  }
  .paraTop p {
    width: 464px;
  }
  .location p {
    font-size: 16px;
  }
  .ItemInfo p {
    font-size: 14px;
  }
  /* .mainConatiner {
    height: 699px;
  } */
  .commonHd {
    font-size: 32px;
  }
  .InputFormMAin input {
    width: 365px;
  }
    /* footer {
        height: 499px;
    } */
}

@media only screen and (max-width: 767px) {
  ul.Counting {
    flex-direction: column;
    gap: 89px;
  }
  li.arrowUp {
    display: none;
  }
  li.arrowDown {
    display: none;
  }
  li.sidearrowTop {
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 16%;
  }

  li.sidearrowbelow {
    display: inline-block;
    position: absolute;
    right: 10%;
    bottom: 16%;
  }
  p.paraHowItworks {
    width: 60%;
  }
  li.itemsHowItworks {
    gap: 1rem;
  }
  .leafImg {
    width: 110px;
    height: 110px;
  }
}
/* ========================================================================================Media--480================================================================================================================================================= */
@media only screen and (max-width: 600px) {
  .topHd {
    font-size: 30px;
  }
  .paraTop {
    padding: 1.5rem;
  }
  form.formMain {
    flex-direction: column;
    gap: 20px;
  }
  .InputFormMAin input::placeholder {
    font-size: 18px;
  }
  .envelopeIcon {
    position: absolute;
    top: 29%;
    left: 3%;
    bottom: 0;
    width: 27px;
  }
  .envelopeIcon img {
    width: 100%;
  }
  .GetHelpform {
    margin: 3rem 0rem;
  }
}

@media only screen and (max-width: 624px) {
  .FooterLogo {
    display: none;
  }
}
@media only screen and (max-width: 502px) {
  .footerBox {
    background-image: url("../Images/mobileFooter.png");
  }
  .cardBox {
    background: #dde1f3;
    padding: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  /* footer {
    height: 85%;
  } */
  .topHd {
    font-size: 23px;
  }
  button.getStart {
    padding: 10px 12px 10px 12px;
    background: #dde1f3;
    font-size: 16px;
    color: #465ff1;
  }
  button.getStart:hover {
    background: #c4c4c7;
  }
  .InputFormMAin input::placeholder {
    font-size: 18px;
    color: #9c9aa5;
  }
  nav {
    background: none;
  }

  .leftNav p {
    color: #ffffff;
  }
  .paraTop p {
    font-size: 12px;
    width: 301px;
  }
  .paraTop {
    padding: 2rem 2rem;
  }
  .phoneLogo {
    display: block;
  }
  /* .mainConatiner {
    height: 448px;
  } */
  .LocationImg {
    width: 9px;
  }
  .LocationImg img {
    width: 10px;
  }
  .cardBox {
    padding: 0.5rem;
  }

  .ItemInfoImg {
    width: 9px;
  }
  .ItemInfoImg img {
    width: 10px;
  }
  .location p {
    font-size: 10px;
  }
  .ItemInfo p {
    font-size: 9px;
  }
  .cardBox {
    gap: 0.5rem;
  }
  .CardBoxInfo {
    gap: 0.4rem;
  }
  button.CardBtn {
    font-size: 13px;
  }
  .webLogo {
    display: none;
  }

  .SubmiitBtn {
    padding: 0.5rem 2rem;
    font-size: 18px;
  }

  .commonHd {
    font-size: 25px;
  }
  p.paraHowItworks {
    font-size: 14px;
  }
  p.footerText {
    font-size: 15px;
  }
  .InputFormMAin input::placeholder {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .InputFormMAin input {
    width: 242px;
  }
  .footewrBottomPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    margin: 0rem 3%;
  }
  ul.footerItem {
    gap: 14px;
  }
  ul.sociallink {
    gap: 14px;
  }
}

@media only screen and (max-width: 342px) {
  .footewrBottomPart {
    flex-direction: column;
    gap: 10px;
  }
  .InputFormMAin input {
    width: 204px;
  }
  .paraTop p {
    font-size: 12px;
    width: 219px;
  }
}
